<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        NGX-Bootstrap
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-dashboard"></i>
          <a routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="active breadcrumb-item">
          <i class="fa fa-th-list"></i> ngx-bootstrap
        </li>
      </ol>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card card-block">
     
      
     

    </div>
    <div class="card card-block">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>